* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(
    90deg,
    hsla(333, 100%, 53%, 1) 0%,
    hsla(33, 94%, 57%, 1) 100%
  );
}

.container {
  width: 605px;
  background: white;
  border-radius: 15px;
  padding: 30px 30px 25px;
}

.container h1 {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}

.container .content {
  margin: 35px 0;
}

.content .quote-area {
  display: flex;
  justify-content: center;
}

.quote-area svg {
  font-size: 15px;
}

.quote-area .left-quote {
  margin: 3px 10px 0 0;
}

.quote-area .right-quote {
  display: flex;
  align-items: flex-end;
  margin: 0px 0px 3px 10px;
}

.material-symbols-rounded {
  font-variation-settings: 'FILL' 0, 'wght' 0, 'GRAD' 0, 'opsz' NaN;
}

.quote-area .quote {
  font-size: 22px;
  text-align: center;
  word-break: break-word;
}

.content .author {
  display: flex;
  font-size: 18px;
  font-style: italic;
  margin-top: 20px;
  justify-content: flex-end;
}

.author span:first-child {
  margin: -7px 5px 0 0;
  font-family: monospace;
}

.container .buttons {
  border-top: 1px solid #ccc;
}

.buttons .features {
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: space-between;
}

.features ul {
  display: flex;
}

.features ul li {
  list-style: none;
  margin: 0 5px;
  height: 47px;
  width: 47px;
  cursor: pointer;
  color: #f89b29;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #f89b29;
  border-radius: 50%;
  transition: all 200ms ease-in-out;
}

.features ul li:hover {
  color: #fff;
  background: #f89b29;
}

.features button {
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  padding: 13px 22px;
  border-radius: 30px;
  background: #ff0f7b;
  transition: all 200ms ease-in-out;
}

.features button:hover {
  background: #f780b5;
}

button .loading {
  opacity: 0.7;
  pointer-events: none;
}
